body{
	font-family: Arial;
	font-size: 14px;
}
#wrap{
	width: 800px;
	margin: 0 auto;
}
#main-nav ul{
	margin: 0 auto;
	padding-left: 0px;
}
#main-nav ul li{
	float: left;
	list-style: none;
	font-size: 14px;
}
#main-nav ul li a{
	color: black;
	padding: 5px 10px;
	text-decoration: none;
}
#main-nav ul li a:hover{
	text-decoration: underline;
}
#notice .success{
	color: green;
	border: 1px solid green;
	padding: 5px 10px;
}
#notice .warning{
	color: orange;
	border: 1px solid orange;
	padding: 5px 10px;
}
#content{
	text-align: left;
}
#content table{
	width: 100%;
	border: 1px solid #aaa;
}
#content td, #content th{
	padding: 5px;
	border: 1px solid #aaa;
}
#content form table{
	border: 0px solid #fff;
}
#content form table td{
	border: 0px solid #fff;
}
form .error{
	color: red;
}